body {
  font-family: Arial, Helvetica, sans-serif;
}

/*.room-info {
	position: absolute;
	top: 0px;
	left: 0px;
	border-right: 1px solid lightgrey;
	width: 150px;
	height: 800px;
}*/

p {
	margin: 5px;
	color: #a3a3a3;
}

#name {
	text-transform: capitalize;
}

#queue {
	position: absolute;
	top: 20px;
	right: 10px;
	float: right;
	/*border: 3px solid green;*/
}

#queue-text {
	border: none;
	border-bottom: 1px solid grey;
	outline: none;
	font-size: 22px;
	width: 180px;
}

#queue-button {
	background-color: #e7e7e7;
	color: black;
	border-radius: 12px;
	border: none;
	width: 100px;
	padding: 5px;
	vertical-align: top;
	outline: none;
}

#queue-button:hover:enabled {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 4px 6px 0 rgba(0,0,0,0.19);
}

.word {
  text-align: center; /* center the text */
  color: black; /* white text color */
  margin-top: 110px;
  font-size: 60px;
  vertical-align: top;
  /*border: 3px solid black;*/
}

button.new-word {
	/*border: 3px solid yellow;*/
	margin: 0 auto;
	display: block;
	background-color: transparent;
	color: transparent;
	border-radius: 12px;
	border: none;
	width: 100px;
	padding: 5px;
	margin-top: -70px;
}

button.new-word:focus {
	outline: none;
}

button.new-word:hover:enabled {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 4px 6px 0 rgba(0,0,0,0.19);
}

.button-wrapper {
	text-align: center;
	margin-top: 100px;
	/*border: 3px solid green;*/
}

button.rated-button {
	background-color: #e7e7e7;
	color: black;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition-duration: 0.4s;
	width: 220px;
	/*border: 3px solid blue;*/
}

button.rated-button:focus:enabled {
	background-color: #008CBA !important;
	color: white !important;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 4px 10px 0 rgba(0,0,0,0.19) !important;
	outline: none;
}

button.rated-button:hover:enabled {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 4px 10px 0 rgba(0,0,0,0.19) !important; 
}

#underrated {
	margin-right: 50px;
}

#overrated {
	margin-left: 50px;
}

.lists-wrapper {
	text-align: center;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 185px;
	padding: 15px;
	font-size: 16px;
	/*border: 3px solid red;*/
}

li {
	list-style: none;
	padding-bottom: 10px;
	text-transform: capitalize;
}

#underList {
	margin-right: 50px;
}

#overList {
	margin-left: 50px;
}