body {
	text-align: center;
}

form-wrapper {
    position: relative;
}

form {
	width: 600px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -300px;
	display: block;
}

input[type=text] {
	border: none;
	border-bottom: 1px solid grey;
	width: 600px;
	height: 100px;
	font-size: 100px;
	font-family: 'Verdana';
	padding-bottom: 30px;
	text-align: center;
	caret-color: grey;
	text-transform: capitalize;
}

::placeholder {
	opacity: 0.2;
}

input[type=text]:focus {
	outline: none;
}

input[type=submit] {
	background-color: #e7e7e7;
	color: grey;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition-duration: 0.4s;
	width: 150px;
	margin-top: 50px;
}